<div class="center jumbotron">
  <h1>Seja bem vindo ao Uniform!</h1>

  <h2 class="home-h2">
    Aqui é onde os alunos e professores dão entrada a todos os processos relacionados ao BSI: matrícula em disciplinas, pedido de histórico escolar, declarações, dentre outros, esses determinados serviços e produtos essenciais aos alunos e professores de graduação são providenciados a partir do Uniform, requeridos através de um formulário, o Requerimento Administrativo da Secretaria.
    <br />
    <br />
    Mais informações na Secretaria do BSI
    <br />
    Telefone: (21)3873-6400
    <br />
    Horário de Funcionamento: 14h às 20h
    <br />
    Falar com Douglas Brito (douglas.brito@uniriotec...)
  </h2>
  <%= link_to "Cadastre-se!", "#", class: "btn btn-lg btn-primary" %>
</div>