<footer class="footer">
  <small>
    <a href="https://maps.google.com.br/maps?q=bsi+unirio&hl=pt&ll=-22.916026,-43.2724&spn=0.343422,0.676346&sll=-22.916032,-43.447416&sspn=0.343422,0.676346&hq=bsi+unirio&t=m&z=11&iwloc=A">Avenida Pasteur, 458 - Urca - Rio de Janeiro / RJ - CEP: 22290-240 </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </nav>
</footer>